<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MercyMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53444C651CB610F400FD9DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53444C7E1CB610F500FD9DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53444C891CB610F500FD9DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
